[defaults]
host_key_checking = False
inventory = ./aws_ec2.yaml
roles_path = ./roles
remote_user = admin
private_key_file = ~/.ssh/serhii-aws-key.pem

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini